/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

a {
  @apply block text-green-400 uppercase underline;
  font-size: 12px;
}