/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 10px;
}

a {
  @apply block text-green-400 uppercase;
  font-size: 12px;
}